* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(227, 228, 229, 0.9);
}
.container {
    width: 95%;
    margin: 0 auto;
}
.content-wrapper {
    width: 100%;
    padding-top: 100px;
}
.navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgb(230, 11, 11);
    animation-name: tushish;
    animation-duration: 0.7s;
    animation-delay: 0.3s;
    transition: ease-out 0.5s;
    margin-top: -100px;
    animation-fill-mode: forwards;
}
@keyframes tushish {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100px);
    }
}
.navbar-box {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-btn {
    width: 140px;
    height: 55px;
    border: 0px;
    border-radius: 8px;
    color: rgb(81, 226, 255);
    background-color: rgb(0, 0, 51);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.logo {
    cursor: pointer;
    font-size: 58px;
    color: rgb(81, 226, 255);
    /* color: rgb(43, 239, 43); */
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
}
.form-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 500px;
    height: 440px;
    /* background-color: rgb(77, 227, 40); */
    background-color: blue;
    border: 0;
    border-radius: 30px;
    padding: 25px;
    margin: 100px auto;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
    transition: all 1s;
    position: relative;
    z-index: 2;
}
.form-login-none {
    transform: scale(0);
}
.form-login label {
    color: white;
    font-size: 34px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    text-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}
.input {
    width: 100%;
    height: 60px;
    border-radius: 20px;
    outline: none;
    border: 0;
    padding: 15px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}
.input-login-btn {
    margin: 30px auto 0;
    width: 140px;
    height: 60px;
    border: 0px;
    border-radius: 8px;
    color: rgb(81, 226, 255);;
    background-color: rgb(0, 0, 51);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}
.input-login-btn:hover {
    width: 100%;
    letter-spacing: 10px;
}